._24io{height:46px}
._2i1s{max-height:82px;overflow-y:auto}
._3mds{background:#f2f2f2;height:100%;overflow:hidden;position:relative;text-align:center}._1zst{border-top:1px solid #dddfe2;padding:12px}._2aii{margin:-5px 20px 0;top:50%}._zxy._zy5{padding-top:90px}html ._3mdt{background-color:#ebedf0}
._4vsh{float:left;text-decoration:underline}._5vll{color:#ccc;cursor:default}._4vsi{border-bottom-left-radius:3px;margin:-12px;overflow:hidden}._4vsj{cursor:pointer;margin-bottom:8px}

#bootloader_P8UdU{height:42px;}.bootloader_P8UdU{display:block!important;}