
.sp_DrvEB3k92g1_1_5x{background-image:url(/rsrc.php/v3/ys/r/bVJzlgTLfqB.png);background-size:16px 30px;background-repeat:no-repeat;display:inline-block;height:8px;width:14px}.sp_DrvEB3k92g1_1_5x.sx_3949a7{background-position:0 0}.sp_DrvEB3k92g1_1_5x.sx_ea480a{background-position:0 -10px}.sp_DrvEB3k92g1_1_5x.sx_693480{background-position:0 -20px}

#bootloader_fAVb6{height:42px;}.bootloader_fAVb6{display:block!important;}