.navbar{
    box-shadow: 0 2px 12px 0px #00000087;
}
.nav-logo{
    font-family: 'Sriracha', cursive;
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;    
}

.nav-logo img {
    margin-right: 20px;
}

.tag{
    margin-right: 20px ;
}