.headText{  
    margin-top: 15px; 
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.inputMargin{    
    margin-top: 20px;  
    margin-bottom: 10px;
}

.columns:not(:last-child){
    margin-bottom: 15px;
}